@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #232323;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.tab {
	display: flex;
	justify-content: center;
}

.relative {
	position: relative;
}

.float{
   	position: absolute;
   	left:120px;
	top: 5px;
   	transition: all .4s ease-out;
	height: 29px;
	width: 90.5px;
	background-color: #464646;
	z-index: -1;
}

.float-photos {
	transform: translateX(131px);
	width: 95.3px;
}

.float-videos {
	transform: translateX(266px);
	width: 93.98px;
}

.tab-nav {
	padding: 10px 20px;
}

.tab-link {
	text-decoration: none;
	color: #232323;
	padding: 5px 25px;
	transition: .2s ease-out;
}

.tab-link:hover {
	color: #999999;
}

.tab-link-active {
	color: #FFF;
}

.tab-link-active:hover {
	color: #FFF;
}

.tab-content {
	text-align: center;
}

.tab-panel {
	display: none;
	padding: 25px;
}

.tab-panel-active {
	display: block;
}